@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.intro-gradient {
  background: linear-gradient(to bottom right, #9796f0, #fce9ee);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.spline {
  margin: 0;

  @media (max-width: 1024px) {
    transform: scale(0.8);
  }

  @media (max-width: 800px) {
    transform: scale(0.7);
  }

  @media (max-width: 600px) {
    transform: scale(0.5);
  }
  
  @media (max-width: 375px) {
    transform: scale(0.45);
  }
}